BETTER_AUTH_SECRET=BVi8T2pL8Zu5V0pA/MriQd0tEJdyhbNr7wlcEa9llyA= # (different in production)
# Dashboard/authentication origin. Production uses https://app.camox.dev
DASHBOARD_URL=http://localhost:3274
GITHUB_CLIENT_ID=Ov23liWJjbM8mlIVIyYI
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=826651454976-egob7onr0fb8009a3gni18bo2skhrn48.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
OPEN_ROUTER_API_KEY=
